<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Notifications</title>
    {% block styles %}
    <style>
      background-color: aliceblue;
</style>
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'notification-list-create' %}">Notifications</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <style>
      background-color: aliceblue;
</style>
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
</body>
</html>
